
.teleports{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align:center
}
.text{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align: center
}
