
.teleports{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align:center
}
.text{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align: center
}
ul{
    list-style-type:none;
}
li{
    float:left;
    }
li a{
    display: block;
    margin: 5px;;
    padding:8px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align:center;
}
.tab a:hover{
    background-color:hotpink
}
.tab a:hover:not(.active){
    background-color:rgb(0, 179, 255)
}
.active{
    background-color:hotpink
}

.tab{
    border-right:2px solid white;
}
.tab:last-child{
    border-right: none
}
